

# This will Turn off your CPU Laptops on boot Turbo Mode!! Have fun
# add to /etc/systemd/system/ - folder
# name it cpuboostoff.service


[Unit]
Description=disable cpustopboost.service Intel-CPU
 
[Service]
ExecStart=/bin/sh -c "/usr/bin/echo 1 > \
/sys/devices/system/cpu/intel_pstate/no_turbo"
ExecStop=/bin/sh -c "/usr/bin/echo 0 > \
/sys/devices/system/cpu/intel_pstate/no_turbo"
RemainAfterExit=yes
 
[Install]
WantedBy=sysinit.target
EOF
